@import '../scss/vars.scss';

body {
    background-color:   $color-background;
}

.main {
    max-width:          1440px;
    min-width: 375px;
    width:              100%;
    padding:            4rem 8rem;

    margin: 0 auto;

    @media screen and (max-width: $small) {
        padding: 1rem;
    }
}