@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');

$color-background:      #0E0A1C;
$color-text:            #9C8FC1;
$color-text-accent:     #EBA53C;
$color-div:             #18102E;

$font-size-largest:     6rem;
$font-size-large:       3.5rem;
$font-size-medium:      2rem;
$font-size-normal:      1rem;
$font-size-small:       .8rem;
$font-size-smallest:    .5rem;

$font-weight-thin:      200;
$font-weight-normal:    400;
$font-weight-bold:      700;

$small:                 1000px;